<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Health Monitoring For The Elderly</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-main">
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <a class="navbar-brand" style="font-weight: bold; color: blue" href="#"><img src="/img/Logo.png"
                    height="50px" width="50px" alt="" />HEALTHCARE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container content-section">
            <h1>
                HỆ THỐNG GIÁM SÁT <br />
                SỨC KHỎE
            </h1>
            <p>
                Đồng hành cùng bạn trên hành trình chăm sóc sức khỏe <br />
                Mỗi ngày trôi qua đều là một ngày đầy năng lượng và hạnh phúc
            </p>
            <a href="/api/v1/auth" class="btn btn-login">Đăng nhập ngay</a>
        </main>
        <footer class="footer-custom">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Danh mục</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://nhathuoclongchau.com.vn/thuoc">Thuốc</a></li>
                            <li><a href="/api/v1/auth">Tra cứu bệnh</a></li>
                            <li><a href="https://nhathuoclongchau.com.vn/trang-thiet-bi-y-te/dung-cu-y-te">Thiết bị y
                                    tế</a></li>
                            <li><a href="https://nhathuoclongchau.com.vn/chuyen-trang-suc-khoe">Chăm sóc sức khỏe</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Tư vấn miễn phí</h3>
                        <p>
                            Hỗ trợ tư vấn:
                            <a href="" style="color: blue; text-decoration: none; font-weight: bold">0967902184</a>
                            <br />Được nhiều hơn bạn bỏ ra
                        </p>
                        <p>
                            TEST admin: Tên đăng nhập: admin , mật khẩu: admin
                            <br>TEST doctor: Tên đăng nhập: doctor , mật khẩu: doctor
                            <br>TEST patient:Tên đăng nhập: patient , mật khẩu: patient
                         </p>
                    </div>
            
                    <div class="col-md-4">
                        <h3>Theo dõi chúng tôi</h3>
                        <ul class="list-unstyled" style="padding-left: 50px">
                            <li>
                                <a href="https://www.facebook.com/kenhthongtinsuckhoedoisong"><img
                                        src="/img/logoFacebook.svg" style="height: 30px; width: 30px" alt="" />
                                    Facebook</a>
                            </li>
                            <li>
                                <a href="https://youtu.be/0nhGl68OFAw"><img src="/img/logoYoutube.svg" style="height: 30px; width: 30px" alt="" />
                                    Youtube (Link Demo)</a>
                            </li>
                            <li>
                                <a href="https://zalo.me/0967902184
                                "><img src="/img/logoZalo.svg" style="height: 30px; width: 30px" alt="" />
                                    Zalo</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</body>

</body>

</html>